@import "../../style.scss";

.games{
  @include themify($themes) {
    padding: 20px 20px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }